$default_blue = #006cb7;
$light_blue = #3DABFF;
$default_grey = #939393; 
$star_color = #edce62;
normal-input()
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 20px;
  margin-bottom: 20px;
  border: 1px solid #aaa;
  &:focus
    border: 1px solid transparent;